In [1]:
#dataprocessing in Spark
from pyspark.ml.feature import StringIndexer,VectorAssembler
from pyspark.ml import Pipeline
from pyspark.ml.feature import StandardScaler
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('Dataprocessing').getOrCreate()

df=spark.read.csv('cruise_ship_info.csv',inferSchema=True,header=True)
df.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 5 rows

In [2]:
df.columns

['Ship_name',
 'Cruise_line',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density',
 'crew']

In [5]:
#Label Encoding
indexers=StringIndexer(inputCol='Cruise_line',outputCol='id')
output=indexers.fit(df).transform(df)
output.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|  id|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|16.0|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|16.0|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7| 1.0|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1| 1.0|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0| 1.0|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+----+
only showing top 5 rows

In [7]:
#feature processing 
assembler=VectorAssembler(inputCols=['Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density'],outputCol='features')
output=assembler.transform(output)
output.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+----+--------------------+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|  id|            features|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+----+--------------------+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|16.0|[6.0,30.276999999...|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|16.0|[6.0,30.276999999...|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7| 1.0|[26.0,47.262,14.8...|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1| 1.0|[11.0,110.0,29.74...|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0| 1.0|[17.0,101.353,26....|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+----+--------------------+
only showing top 5 rows

In [10]:
#normalization based on mean and standard deviation
scaler=StandardScaler(inputCol="features",outputCol="scaled_feature",withStd=True,withMean=True)
output=scaler.fit(output).transform(output)
output.show(5)

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+----+--------------------+--------------------+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|  id|            features|      scaled_feature|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+----+--------------------+--------------------+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|16.0|[6.0,30.276999999...|[-1.2723564208380...|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|16.0|[6.0,30.276999999...|[-1.2723564208380...|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7| 1.0|[26.0,47.262,14.8...|[1.35380052876893...|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1| 1.0|[11.0,110.0,29.74...|[-0.6158171834363...|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0| 1.0|[17.0,101.353,26....|[0.17202990144577...|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+----+--------------------+--------------------+
only showing top 5 rows

In [ ]:
#final data after preprocessing 
output.show()